@page
@model Assignment2.Pages.Accesses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAccess[0].UserAccessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccess[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserAccess) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserAccessID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserAccessID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserAccessID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
