@page
@model Assignment2.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["location"] = "Users";
}

<h1>Index</h1>

<div class="d-flex align-items-center justify-content-between">
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <form method="get" action="/Users/CreateMany">
        <p>
            Create <input type="number" min="1" required name="RowCount" style="width: 5rem"/> users
            <input class="btn btn-primary" type="submit" value="Bulk Create" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].DateEntered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    <img src="@(HttpContext.Request.Scheme + "://" + HttpContext.Request.Host + "/Uploads/" + @item.Photo)"
                     width="100"
                     class="img-fluid img-thumbnail"
                     alt="Employee photo">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEntered)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
